body{
   display: grid;
   grid-template-columns: 1fr 1fr  3fr 1fr 1fr ;
   grid-template-rows: 130px  35px 20px 600px 40px 1fr 20px;
}

nav{
   grid-area: 2/1/3/-1;
}

#principal{
   grid-area: 4/3/5/3;
   display: grid;
   grid-template-columns:  1fr 5% 250px;
   grid-template-rows: 250px 20px 80px 10px 30px 170px ;
}

#first{
   width: 350px;
   height: 350px;
   border: 1px solid black;
   grid-area: 1/1/2/2;
}
#first>input{
   width: 100%;
   height: 100%;
   background-color: gray;
}
#text2{
   grid-area: 5/1/6/2;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
#second{
   grid-column: 3/4;
   grid-row: 1/2;
   background-color: #8AA6A3;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 1px 1px 10px 1px  black;
   padding: 20px;
}
#um button{
   width: 100%;
   font-size: 1em;
   padding: 10px;
   border-radius: 20px;
   background-color: #4C5958;
   color: white;
   margin-bottom: 20px;
   
}
#um button:hover{
   box-shadow: 0px 0px 1px 1px  black;
   background-color: #353e3d;
   font-weight: 600;
}
#dois, #tres{
   display: none;
}

#dois span{
   display: flex;
   align-items: center;
   color: white;
   margin-bottom: 10px;
}
#dois>p{
   width: auto;
   padding-left: 10px;
}
#dois>button{
   padding: 10px 10px;
   border-radius: 20px;
   align-self: end;
}
#tres>button{
   padding: 10px 10px;
   border-radius: 20px;
   align-self: end;
}
#dois>input{
   height: 30px;
   margin: 0px 0px 20px 20px;
   border-radius: 10px;
   padding-left: 3px ;
}
#dois p{
   margin-left: 10px ;
}
#contador {
   margin-top: 10px;
   font-size: 1cm;
   justify-self: center;
}
#inform{
   grid-area: 6/1/7/2;
}
#inform>p{
   margin-top: 10px;
}
#img{
   grid-area: 6/2/-2/5;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 10px;
   justify-content: space-around;
}
h2{
   grid-area: 5/2/6/5;
}
.img{
   width: 200px;
   height: 200px;
   background-color: black;
}
footer{
   background-color: #10403B;
   grid-row: -2/-1;
   grid-column: 1/-1;
}