#first{
   width: 350px;
   height: 350px;
   border: 1px solid black;
}
#text2{
   display: flex;
   justify-content: space-between;
}
#second{
   background-color: #8AA6A3;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 1px 1px 10px 1px  black;
   padding: 20px;
}
#um button{
   width: 100%;
   font-size: 1em;
   padding: 10px;
   border-radius: 20px;
   background-color: #4C5958;
   color: white;
   margin-bottom: 20px;
   
}
#um button:hover{
   box-shadow: 0px 0px 1px 1px  black;
   background-color: #353e3d;
   font-weight: 600;
}
#dois, #tres{
   display: none;
}
#dois span{
   display: flex;
   align-items: center;
   color: white;
   margin-bottom: 10px;
}
#dois>p{
   width: auto;
   padding-left: 10px;
}
#dois>button{
   padding: 10px 10px;
   border-radius: 20px;
   align-self: end;
}
#tres>button{
   padding: 10px 10px;
   border-radius: 20px;
   align-self: end;
}
#dois>input{
   height: 30px;
   margin: 0px 0px 20px 20px;
   border-radius: 10px;
   padding-left: 3px ;
}
#dois p{
   margin-left: 10px ;
}
#contador {
   margin-top: 10px;
   font-size: 1cm;
   justify-self: center;
}
#inform>p{
   margin-top: 10px;
}
#img{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 10px;
   justify-content: space-around;
}
.img{
   width: 200px;
   height: 200px;
   background-color: black;
}
@media  (min-width: 601px){
   body{
      display: grid;
      grid-template-columns: 1fr 1fr  3fr 1fr 1fr ;
      grid-template-rows: 130px  35px 20px 600px 40px 1fr 20px;
   }
   header{
      grid-column: 1/-1;
   }
   nav{
      grid-area: 2/1/3/-1;
   }
   #principal{
      grid-area: 4/3/5/3;
      display: grid;
      grid-template-columns:  1fr 5% 250px;
      grid-template-rows: 250px 20px 80px 10px 30px 170px ;
   }
   #first{
      grid-area: 1/1/2/2;
   }
   #text2{
      grid-area: 5/1/6/2;
      align-items: center;

   }
   #second{
      grid-area: 1/3/2/4;
   }
   #inform{
      grid-area: 6/1/7/2;
   }
   #img{
      grid-area: 6/2/-2/5;
   }
   h2{
      grid-area: 5/2/6/5;
   }
   footer{
      background-color: #10403B;
      grid-row: -2/-1;
      grid-column: 1/-1;
   }
}
@media (max-width: 600px) {
   #principal{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
   }
   .inicio{
      display: none;
   }
   #first{
      border: 1px solid black;
   }
   #first>img{
      width: 100%;
   }
   #text2{
      width: 350px;
   }
   #inform{
      order: 1;
      width: 350px;
   }
   #second{
      order: 2;
   }
   .ui{
      margin-top: 25px;
      margin-left: 25px;
   }
   #img{
      width: 100%;  
   }
   .imagem{
      width: 40%;
      height: 20%;
   }
   .imagem>img{
      width: 100%;
   }
   footer{
      background-color: #10403B;
      height: 20px;
      width: 100%;
   }
}
