@charset "UTF-8";
@font-face {
   font-family: "Quicksand";
   src: url("fonts/Quicksand_Bold_Oblique.otf") type('opentupe');
}
*{
   margin: 0%;
   padding: 0%;
   font-family: "Quicksand";
   
}
body{
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}
.header{
   padding: 10px;
   align-items: center;
}
.busca{
   background-color: white;
   display: flex;
   align-items: center;
}
.busca> input{
   border: none;
   outline: none;
   font-size: 15px;
}
nav{
   background-color: #127369;
   display: flex;
   justify-content: space-around;
   height: 38px;
   align-items: center;
}
nav a:hover{
   color: rgb(255, 255, 255);
   background-color: #10403B;
   box-shadow: 0px 0px 1px 1px rgba(26, 26, 26, 0.274);
   padding: 10px;
}
.menu:hover{
   background-color: #127369;
   box-shadow: 0px 0px 1px 1px rgba(26, 26, 26, 0.274);
   padding:  5px;
   border-radius: 2px;
}
a{
   text-decoration: none;
   color: white;
}
.login{
   cursor: pointer;
   color: white;
}
@media (min-width: 601px) {
  .header{
      background-color: #10403B;
      display: grid;
      grid-template-columns: 2fr 268px 30px 350px 1fr 47px 1fr 95px 1fr 40px 1fr 25px 1fr 50px 1fr 24px 2fr;
   }
   #logo>img{
      width: 100%;
   }
   #imgUser{
      width: 25px;
      height: 25px;
      background-color: #ffffff;
      border-radius: 50%;
      padding: 13px;
   }
   #imgUser>img{
      width: 100%;
      
   }
   .menu{
      display: none;
   }
   .busca{
      height: 32px;
      width: 333px;
      justify-content: center;
      border-radius: 24px;
      grid-column: 4/5;
      padding-right: 10px;
   }
   .busca> input{
      width: 89%;
      height: 30px;
      border-radius: 20px 0px 0px 20px;
      padding-left: 10px;
      margin-right: 10px;
   }
   nav{
      padding: 0% 20%;
   }
   nav>a{
      padding: 10px;
      align-content: center;
   }
   #logo{
      grid-column: 2/3;
      display: flex;
   }
   #logo>img{
      width: 40%;
   }
   .login{
      grid-column: 6/7;
   }
   .cadastro{
      grid-column: 8/9;
   }
   .compra{
      grid-column: 10/11;
   }
   .sino{
      grid-column: 12/13;
   }
   .user{
      grid-column: 14/15;
   }
   .ajuda{
      grid-column: 16/17;
   }
   
   .imagem{
      height: 230px;
      width: 230px;
      margin: 5px;
      display: flex;
      align-items: end;
      justify-content: center;
   }
   .imagem > img{
      width: 100%;
   }
}
@media (max-width: 600px) {
   .header{
      background-color: #10403B;
      display: flex;
      justify-content: space-around;
   }
   .logo1{
      width: 80px;
   }
   .busca{
      border-radius: 15px;
      padding: 6px;
      width: 40%;
   }
   .busca>input{
      width: 80%;
      padding-left: 3px;
      align-items: center;
   }
   .menu{
      padding: 5px;
      order: 2;
   }
   .menu>img{
      width: 30px;
   }
   nav{
      width: 100%;
   }
   .sino{
      order: 1;
   }
   .text, .ajuda, .user, .compra, .cadastro, .login{
      display: none;
   }
   nav>a{
      padding: 5px;
      text-decoration: none;
      color: white; 
      padding: 10px;
      align-content: center;
   }
}
