body{
   display: grid;
   grid-template-columns: 10% 1fr 3fr 1fr 10% ;
   grid-template-rows: 130px  35px 10px 1fr 15px;
}
nav{
   grid-area: 2/1/3/-1;
}

#perfil{
   grid-area: 4/2/-1/3;
}
#perfil>#io{
   display: flex;
   justify-content: center;
}
#img-User{
   width: 100px;
   padding: 35px;
   background-color: #BFBFBF;
   border-radius: 50%;
}
#img-User>img{
   width: 100%;
   height: 100%;
}
div> h2{
   text-align: center;   
}
article{
   margin-top: 10px;
}
article p{
   padding: 10px;
   background-color: #10403B;
   color: white;
}
article p:hover{
   background-color: #1f786f;
}
main{
   grid-area: 4/3/-2/4;
   padding: 20px;
   display: flex;
   justify-content: center;
   
}
#conteiner{
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin: 10px 0px;
   gap: 10px;
}
#conteiner  .img{
   width: 200px;
   height: 200px;

}
.img > img{
   width: 100%;
}