#principal{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   width: 100vw;
}
#principal> section{
   width: 80%;
}
article{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
@media (min-width: 601px) {
   .imagem{
      height: 230px;
      width: 230px;
      margin: 5px;
      display: flex;
      align-items: end;
      justify-content: center;
   }
}
@media (max-width:600px){
   
   .imagem{
      height: 140px;
      width: 140px;
      margin: 5px;
      display: flex;
      align-items: end;
      justify-content: center;
   }
   .imagem > img{
      width: 100%;
   }
}
